*{
	margin: 0px;
}


body {
	font-family: arial,sans-serif;
}
/* header section start*/

header{
	width: 100%;
	float: left;
	padding: 25px 0px;
	background-color: #FFFFFF;
}

.social{
	
}

.social img{
	max-width: 100%;
}

.social ul {
    list-style: none;
}

.social ul li {
    display: inline-block;
    margin: 5px 10px;
}

.social ul li a{
	
}


.social img{
	width: 250px;
}

.fa.fa-facebook{
	padding: 5px 10px;
	background-color: #4573e8;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
}

.fa.fa-instagram{
	padding: 5px 10px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}


.logo-img{
	width: 280px;
	display: block;
	margin: 0 auto;
}

.navbar-nav{
	margin-top: 15px!important;
}
.nav-item{
	margin: 5px 10px;
}

.nav-link{
	color: #5a102c;
	transition: 0.4s ease-in-out;
}

.nav-link:hover{
	background-color: #5a102c;
	color: #fff!important;
	padding: 10px 25px;
}


/* header section End*/

/*hero section start*/

.hero{
	background-color: #F4F4F4;

}

/*feature section start*/

.feature{
	width: 100%;
	float: left;
	padding: 25px 0px;
}

.feature-title h2{
	color: #5a102c;
	font-size: 32px;
	margin: 15px 0px;
}
.feature-one{
	margin: 0 auto;
	text-align: center;
	padding: 25px;
}

.feature-one img{
	max-width: 100%;
}

.feature-one p{
	color: rgb(90, 16, 44);
    font-size: 19px;
    margin: 20px 0px;
}

.feature-one p span{
	color: #c5bd4d;
	margin: 10px 0px;
}

.sidebar{
	
}

.sidebar-one{
	margin: 10px 0px;
}


.sidebar-one-bottom{
	margin: 20px 0px;
}


.sidebar h2{
	font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    background: #5a102c;
    color: #fff;
}

.sidebar-one h3{
	font-size: 20px;

}


.sidebar-one h5 a{
	font-size: 19px;
	color: #5a102c;
}

.about-right-footer{

}

.about-right-footer h2{
	
}


.about-right-footer p {
    color: rgb(90, 16, 44);
    font-size: 17px;
    line-height: 26px;
}

.about-right-footer a{
	color: #c5bd4d;
}


.btn-two{
	border-radius: 8px;
    text-transform: none;
    background: #e83755;
    color: #fff;
    width: 100%;
    padding: 7px 54px;
    font-size: 17px;
    box-shadow: 3px 3px 7px 1px rgba(232,55,85,0.25);
    text-align: center;
    margin: 10px 0px;
    border: none;
}
/* slider*/
.owl-nav { display: block !important; }

button.owl-prev{
	position: absolute;
	left: -3%;
	top: 35%;
}

button.owl-prev span{
	font-size: 100px;
	color: #d5d5d5;
}


button.owl-next{
	position: absolute;
	right: 0;
	top: 35%;
}

button.owl-next span{
	font-size: 100px;
	color: #d5d5d5;
}

	.slider-img{
	max-width: 300px;
}
.item{
		padding: 25px;
	}

.item h6 {
	color: #5a102c;
	line-height: 25px;
	margin: 15px 0px;
}
.item p{
	color: #5a102c;
	font-style: italic;
	font-weight: 200;
	margin: 10px 0px;
}


/*banner-two section start*/
.banner{
	padding: 25px 0px;
}


.banner-title h2{
 	color: #5a102c;
 	margin: 10px 0px;
 	font-size: 40px;
 	font-family: Futura, Arial, sans-serif;
 }

 .banner-title p{
 	color: rgb(90, 16, 44);
 	font-size: 18px;
    font-weight: 200;
 	font-family: Futura, Arial, sans-serif;
 	padding: 15px;
 } 
/* testimonial section start*/



.testimonial{
	padding: 25px 0px;
}

.testimonial-title h2{
	color: #5a102c;
	font-family: Futura, Arial, sans-serif;
	font-size: 44px;
}

.testimonial-one{
	padding: 25px;
}

.btn-three{
	border-radius: 8px;
    text-transform: none;
    background: #e83755;
    color: #fff;
    padding: 11px 18px;
    font-size: 18px;
    box-shadow: 3px 3px 7px 1px rgba(232,55,85,0.25);
    text-align: center;
    margin: 28px 0px;
    border: none;
}

/* testimonial section end*/

/* footer section*/
footer{
	background-color: #5a102c;
	padding: 25px 0px;
}

.footer-one{
	padding: 20px;
}

.footer-one ul{
	list-style: none;
}

.footer-one li{
	margin: 10px 0px;
	color: #fff;
}

.footer-one a{
	color: #fff;
}

.footer-two{
	padding: 60px 20px;
}

.footer-two ul{
	list-style: none;
}

.footer-two li{
	margin: 10px 0px;
	color: #fff;
	font-size: 20px;
}

.footer-two a{
	color: #fff;
}

.footer-three{
	padding: 90px 20px;
}

.footer-three ul{
	list-style: none;
}

.footer-three li{
	margin: 10px 10px;
	color: #fff;
	display: inline-block;
}

.footer-three a{
	color: #fff;
}

.footer-three ul li a .fa.fa-facebook{
	color: #5a102c;
    background-color: #fff;
    font-size: 30px;
    padding: 7px 14px

}

.footer-three ul li a .fa.fa-instagram.new{
	color: #fff;
    background: transparent!important;
    font-size: 36px;
    padding: 7px 14px

}

.footer-three ul li a .fa.fa-google-plus {
    color: #5a102c;
    background-color: #fff;
    font-size: 30px;
    padding: 6px 4px;
    border-radius: 4px;
}


/*media query*/

/*mobile device*/

@media (max-width: 600px){
	.testimonial-one{
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	.footer-three{
	padding: 20px 20px;
	}


	
	

	

}


/*custom slider*/
@media (max-width: 992px){
	.slider{
		display: none;
	}
}

@media (min-width: 992px){
	/*.slider-mobile{
		display: none;
	}*/
}
